# data_demo.py 配置文件

# 数据集路径
dataset:
  path: "/media/zhy/bcd58cff-609f-4e23-89f6-9fc2e8b36fea/datasets/apple_1"

# 状态区间定义（有序列表，可重复）
# 格式: (start, end, state, obj_id_in_ee)
# state_ranges:
#   - [0, 194, "idle"]
#   - [195, 202, "grasping"]
#   - [203, 1050, "holding"]
#   - [1051, 1056, "releasing"]
#   - [1057, 1229, "idle"]
#   - [1230, 1236, "grasping"]
#   - [1237, 1715, "holding"]
#   - [1716, 1721, "releasing"]
#   - [1722, 1763, "idle"]


# 掩码提取配置
mask:
  # 提取方法: "color" 或 "json"
  method: "json"
  
  # color模式参数
  color_map:
    milkbox: [0, 255, 0]  # 根据实际数据集调整
  tolerance: 80
  
  # json模式参数
  detection_dir: "/media/zhy/bcd58cff-609f-4e23-89f6-9fc2e8b36fea/datasets/apple_1/detection_boxes_0.02"  # 检测结果目录
  hungarian_dir: "/media/zhy/bcd58cff-609f-4e23-89f6-9fc2e8b36fea/datasets/apple_1/detection_h"
  score_threshold: 0.0        # 检测置信度阈值

  # 图像处理参数
  clear_bottom_ratio: 0.3     # 清除画面最下方的比例（0.1表示10%）
  shrink_mask: true            # 是否缩小mask以避免桌面噪声
  shrink_kernel_size: 9       # 腐蚀核大小（奇数，越大缩小越多）
  dilate_kernel_size: 39  # 或任何你需要的值

# 相机内参
camera:
  fx: 554.3827
  fy: 554.3827
  cx: 320.5
  cy: 240.5

# TSDF参数
tsdf:
  bg_voxel_size: 0.03
  object_voxel_size: 0.003
  inpaint:
    enabled: true
    depth_iters: 5       # 深度填充迭代次数
    kernel_size: 3       # 深度均值核大小（奇数）
    color_radius: 3      # 颜色修补半径
    color_method: telea  # telea 或 ns

  pose_refine:
    enabled: true
    min_objects: 2
    sample_step: 2
    voxel_size: 0.001
    distance_thresh: 0.03
    max_iter: 30
    min_points_each: 20
    min_points_total: 100
    min_fitness: 0.2

  pose_threshold:
    max_rotation: 0.005      # 弧度，约5.7度
    max_translation: 0.005  # 米，5cm

  # Mesh过滤参数
  mesh_filter:
    enabled: true                    # 是否启用mesh过滤
    trim_ration: 0.05

# 可视化参数
visualization:
  viewport_size: [1024, 768]
  use_raymond_lighting: true 